@import 'variables';
@import 'helpers';

body {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  color: $black;
  // background-color: cadetblue;
}

.header {
  background-image: url('../images/subtract.png');
  background-repeat: no-repeat;
  background-position: right;

  @media (min-width:1024px) {
    background-image: url('../images/hero.png'), url('../images/subtract.png');
    background-repeat: no-repeat;
    background-position: right bottom, 85% 0;
  }
}

.logo {
  &::before {
    content: url('../images/logo.svg');
    margin-right: 7px;
  }
}

// jQuery UI start
#tabs {
  padding: 0;
  border: none;

  li {
    margin-right: 40px;
    border: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .ui-tabs,
  .ui-tabs-nav,
  .ui-tabs-anchor {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ui-state-active {
    a {
      padding-left: 0;
      padding-right: 0;
      color: $pr-color;
      font-weight: 600;
    }

    a:link {
      padding-left: 0;
      padding-right: 0;
      color: $pr-color;
      font-weight: 600;
    }

    a:visited {
      padding-left: 0;
      padding-right: 0;
      color: $pr-color;
      font-weight: 600;
    }
  }

  .tab-item {
    margin-top: 20px;
    padding: 0;

    @media (min-width: 768px) {
      margin-top: 70px;
    }
  }
}

// jQuery UI end

.slider-1 {
  &__img {
    margin-bottom: 30px;
  }

  .slick-dots {
    li {
      button {
        &::before {
          font-size: 8px;
        }
      }

      &.slick-active {
        button {
          &::before {
            font-size: 8px;
            color: $pr-color;
          }
        }
      }
    }
  }
}

.excerpt-btn {
  &::after {
    content: url('../images/arrow.svg');
    margin: 4px;
    display: inline-block;
    line-height: 0;
  }

  &--open {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.footer,
.copyright {
  background-color: $black;
}